:root {
    --global-space: 10px;
    --page-width: 100em;
}

:root {
    --font-stack:"K2D", sans-serif;
}

* {
    box-sizing: border-box;
}



body {
    background: linear-gradient(90deg, #333 21px, transparent 1%) 50%, linear-gradient(#333 21px, transparent 1%) 50%, #000;
    background-attachment: fixed;
    background-size: 22px 22px;
    font-size: var(--global-font-size);
    color: white;
    line-height: var(--global-line-height);
    margin: 0;
    font-family: var(--font-stack);
    word-wrap: break-word;
    min-width: 640px;
    height: 100vh;
}

.dark{
    color: black !important;
    background: white;
}

.light{
    background-color: white !important;
}

.grey{
    background-color: rgb(56, 149, 255) !important;

}

a {
    color: #1e90ff;
    text-decoration: underline;
}

hr {
    border-top: .15em solid #555;
}

.heading, h1 {
    font-size: 1em;
}

.heading, h1, h2 {
    font-family: "K2D", sans-serif;
}

h2 {
    font-size: 2em;
}

.standard-button {
    display: block;
    min-height: 20px;
    min-width: 59px;
}

.standard-dialog {
    background-color: #444;
    border: 2px solid #888;
    box-shadow: 2px 2px #000;
    padding: 10px;
}

.alert-box, .modal-dialog {
    background: #444;
    padding: 13px;
    width: auto;
}

.alert-contents, .modal-contents {
    padding: 10px;
}

.modeless-dialog {
    font-size: 18px;
    height: 100%;
    letter-spacing: -.025em;
    padding: 1.5rem .5rem .5rem;
}

.inner-border {
    border-color: currentcolor;
    border-style: solid;
    border-width: 3.5px 5px;
}

.outer-border {
    border: 2px solid #888;
    padding: 3px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: auto;
    width: 100%;
    min-width: 500px;
    padding: 0;
}

.window {
    display: flex;
     top: 10px;
}

.main {
    height: 80%;
     flex-grow: 1;
    max-width: 73rem;
    padding: 0 1rem 0 1rem;
    align-items: flex-start;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 7rem;
    border: none;
    justify-content: flex-start;
 }


.userposts{
width: 20rem;}


.all-container{
    padding: 30px;
}

.sidea{
    min-width: 20rem;
    flex-grow: 1;
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    padding: 10px 5rem 10px 4rem;
    margin-top: 50px;
    background-color: #333;
    border: none;
    flex-direction: column;
    height: 100%;
}

.sidepost{
    margin-top: 7rem;
width: 36rem;
margin-left: 14rem;
}


@media (max-width: 1130px) {
    .sidea {
        min-width: 30rem;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .main {
        min-width: 400px;
    }
}

.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #414141;
    height: 2.6em;
    position: fixed;
    z-index: 1000;
}

.navlight {
    background-color: rgb(0, 50, 100) !important;
}

.navi {
     flex-direction: row;
    justify-content: space-between;
    width: 72rem;
    padding: 0.2rem 0.8em;
     z-index: 1000;
     align-items: center;
 }

 
.register {
    display: flex;
    margin: 10% 50% 0 40%;
}

.card-box {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    height: 100%;
    flex-wrap: wrap;
    content: none;
}

.card-box-profile {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    height: 100%;
    flex-wrap: wrap;
    content: none;
    max-width: 20rem;
}

 
.card {
    border: 0.03em solid #000000;
    width: 16.8rem;
    min-height: 24rem;
    background-color: #444;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 8px;
    overflow: visible;
}

.card::before {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.card:hover {
    box-shadow: inset 0 10px 10px rgba(135, 135, 135, 0.3), inset 0 0 10px rgba(113, 113, 113, 0.1);
}

.card:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3), 
                inset 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.02s ease-in-out;
}

.card:active .post-img {
    box-shadow: inset 0 20px 30px rgba(0, 0, 0, 0.5);
    z-index: -10;
}

.card-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-details h4 {
    margin: 0;
    margin-bottom: 5px;
}
.card-link {
    display: block; /* Ensures the <a> tag covers the entire card */
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color */
}

.card, .card-link {
    pointer-events: auto; /* Ensure pointer events are enabled */
}
 .gallery-container img {
display: none
;    width: 100%; /* Example */
    height: auto; /* Example */
}

 

.user-info{
    display: flex; 
    height: 4rem;
    flex-direction: row; 
    gap: 10px;
    padding: 8px;
}
.user-info img{
    visibility: hidden;
    border-radius: 50%; 
    overflow: hidden;
}

.circular-image {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border: 1px solid black;
}


.flashes {
    display: block;
    position:fixed;
    top: 30px;
    padding: 5px;
    border-radius: 40px; 
    color: #000000;
    font-family: "K2D", sans-serif;
        font-size: 16px;
    z-index: 1000;
    overflow: auto;
    width: 250px;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.flashes .success {
    background-color: #4caf4f86;
    border: 0.05em solid rgba(255, 77, 0, 0.215);
    border-radius: 40px;
    width: 100%;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.flashes .error {
    background-color: #ff950084; /* Red */
    border: 0.05em solid rgba(255, 77, 0, 0.215);
    border-radius: 40px;
    width: 100%;
    padding: 5px;
    list-style-type: none;
    text-align: center;}

.flashes .message {
    background-color: #007ADF;    border: 0.05em solid rgba(255, 77, 0, 0.215);
    border-radius: 40px;
    width: 100%;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.posts-list {
    border: 0.03em solid #444;
    border-radius: 10px;
    background-color: #333;
}

.post-images {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-images::before {
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.post-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.image-gallery {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(60, 60, 60);
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    overflow: hidden;    
}

.gallery-container {
    position: relative;
    width: 100%;
    text-align: center;
}


#gallery-image {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Ensures the image is a block-level element, removing extra space below */
    margin: 0 auto; /* Centers the image horizontally within its container */
    object-fit: cover;

}

.nav-button{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    margin: 0%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 25px;
}

.nav-button:hover {
    top: 50%;
    cursor: pointer;
    transition: ease-in-out 200ms;
    color: white;
}

.prev-button {
    left: 5px;
    border-radius: 20px;

}


.next-button {
    right: 25px;
    padding: 0px;
    width: 5px;

}



.separator {
    border-width: .1rem 0;
    border-top: .1rem solid #555;
}

.details-bar, .separator {
    display: flex;
    flex: none;
    flex-direction: row;
    font-size: 1rem;
    justify-content: space-between;
}

.details-bar {
    border: .1rem solid #555;
    border-width: .1rem 0;
    font-weight: 100;
    padding: .4rem .8rem;
}

.btn,.btn-default {
     border-style: solid;
    border-width: 1.5px;
    color: #bdbdbd;
    cursor: pointer;
    font-family: "K2D", sans-serif;
    font-size: 1rem;
    min-height: 20px;
    min-width: 60px;
    padding: 2px 20px;
     text-align: center;
    text-decoration: none;
    border-radius: 40px;
    background-color: rgb(2, 100, 200);

}

.btn:hover{
    box-shadow: 2px 2px 5px rgb(95, 95, 95);
    color: white;
    background-color: rgb(2, 100, 200);

}

.btn:active {
    color: #fff;
    font-family: "K2D", sans-serif;
    box-shadow: inset 2px 2px 5px rgb(95, 95, 95);

}

.btn:disabled {
    background: #fff;
    border-image: url(button.svg) 30 stretch;
    border-style: solid;
    border-width: 5.5px;
    color: #b6b7b8;
    font-family: "K2D", sans-serif;
    font-size: 18px;
    min-height: 20px;
    min-width: 59px;
    text-align: center;
    text-decoration: none
}

.btn-default {
    border-image: url(button-default.svg) 60 stretch;
    border-width: .5em
}

.btn-default:active {
    border-radius: 2px
}

input {
    border: 1.5px solid #000;
    font-family: "K2D", sans-serif;
    font-size: 18px;
    padding-left: 5px;
    background-color: grey;
}

input:focus {
    outline: none
    
}

input[type=text]:focus-visible {
    background-color: transparent;
    color: #ffffff
}

input[type=email]:focus-visible {
    color: #000000
}

input[type=password]:focus-visible {
    color: #000000
}

input[type=number]:focus-visible {
    color: #fff
}

input[type=date]:focus-visible {
    background: #000;
    color: #fff
}

input[type=time]:focus-visible {
    background: #000;
    color: #fff
}

input[type=datetime]:focus-visible {
    background: #000;
    color: #fff
}

input[type=datetime-local]:focus-visible {
    background: #000;
    color: #fff
}

input[type=month]:focus-visible {
    background: #000;
    color: #fff
}

input[type=week]:focus-visible {
    background: #000;
    color: #fff
}

input[type=search]:focus-visible {
    background: #000;
    color: #fff
}

input[type=tel]:focus-visible {
    background: #000;
    color: #fff
}

input[type=color]:focus-visible {
    background: #000;
    color: #fff
}

textarea:focus {
    background: #000;
    color: #fff
}

input[type=radio]+label:before {
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0h4v1H4zM0 4h1v4H0zM11 4h1v4h-1zM2 1h2v1H2zM8 1h2v1H8zM10 2h1v2h-1zM1 2h1v2H1zM4 11h4v1H4zM2 10h2v1H2zM8 10h2v1H8zM10 8h1v2h-1zM1 8h1v2H1z'/%3E%3C/svg%3E");
    height: 20px;
    width: 20px
}

input[type=checkbox]+label:before {
    border: 1.5px solid #000;
    height: 20px;
    width: 20px
}

input[type=checkbox],input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0;
    border: none;
    margin: 0;
    opacity: 0;
    position: fixed
}

input[type=checkbox]+label,input[type=radio]+label {
    line-height: 13px;
    padding-left: 5px
}

input[type=radio]+label {
    margin-left: 18px;
    position: relative
}

input[type=radio]+label:before {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0h4v1H4zM0 4h1v4H0zM11 4h1v4h-1zM2 1h2v1H2zM8 1h2v1H8zM10 2h1v2h-1zM1 2h1v2H1zM4 11h4v1H4zM2 10h2v1H2zM8 10h2v1H8zM10 8h1v2h-1zM1 8h1v2H1z'/%3E%3C/svg%3E");
    content: "";
    display: inline-block;
    height: 12px;
    left: -18px;
    margin-right: 6px;
    position: absolute;
    top: 0;
    width: 12px
}

input[type=radio]:focus-visible+label:before,input[type=radio]:hover+label:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0h4v2H4zM0 4h2v4H0zM10 4h2v4h-2zM2 1h2v2H2zM8 1h2v2H8z'/%3E%3Cpath d='M9 2h2v2H9zM1 2h2v2H1zM4 10h4v2H4zM2 9h2v2H2zM8 9h2v2H8z'/%3E%3Cpath d='M9 8h2v2H9zM1 8h2v2H1z'/%3E%3C/svg%3E")
}

input[type=radio]:checked+label:after {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='7' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0h4v1H1zM1 5h4v1H1zM0 1h6v4H0z'/%3E%3C/svg%3E");
    content: "";
    display: block;
    height: 6px;
    left: -15px;
    position: absolute;
    top: 3px;
    width: 6px
}

input[type=checkbox]+label {
    margin-left: 19px;
    position: relative
}

input[type=checkbox]+label:before {
    background: undefined;
    box-shadow: undefined;
    content: "";
    display: inline-block;
    height: 13px;
    left: -19px;
    margin-right: 6px;
    position: absolute;
    width: 13px
}

input[type=checkbox]:focus-visible+label:before {
    outline: 1px solid #000
}

input[type=checkbox]:hover+label:before {
    outline: 1px solid #000
}

input[type=checkbox]:checked+label:after {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h1v1H0zM1 1h1v1H1zM2 2h1v1H2zM3 3h1v1H3zM4 4h1v1H4zM5 5h1v1H5zM6 6h1v1H6zM7 7h1v1H7zM8 8h1v1H8zM9 9h1v1H9zM10 10h1v1h-1zM11 11h1v1h-1zM11 0h1v1h-1zM10 1h1v1h-1zM9 2h1v1H9zM8 3h1v1H8zM7 4h1v1H7zM6 5h1v1H6zM5 6h1v1H5zM4 7h1v1H4zM3 8h1v1H3zM2 9h1v1H2zM1 10h1v1H1zM0 11h1v1H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 12px;
    left: -17px;
    position: absolute;
    top: 2px;
    width: 12px
}

input[type=checkbox][disabled]+label:before {
    background: undefined
}

input[type=checkbox][disabled]:checked+label:after {
    background: svg-load("./icon/checkmark-disabled.svg")
}

.field-row {
    align-items: center;
    display: flex;
    font-family: "K2D", sans-serif;
    font-size: 1em
}

[class^=field-row]+[class^=field-row] {
    margin-top: 6px
}

.field-row>*+* {
    margin-left: 6px
}

.apple {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='22' viewBox='0 0 9 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0h2v1H5zM4 1h2v1H4zM4 2h1v1H4zM1 3h3v1H1zM5 3h3v1H5zM0 4h9v1H0zM0 5h7v2H0zM0 7h9v2H0zM1 9h7v1H1zM2 10h2v1H2zM5 10h2v1H5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 22px;
    margin-right: 2px;
    width: 18px
}

textarea{
    background-color: grey;
    width: 100%;
    height: 5rem;
}

 

.form{
    position: absolute;
}

.add-post-container{
    padding: 1rem;
}

.inside-form{
    display: flex;
    flex-direction: row;
    gap:2rem;
 }

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M0 0h17v17H0z'/%3E%3Cpath fill='%23000' d='M2 5h13v1H2zM4 7h9v1H4zM5 8h7v1H5zM6 9h5v1H6zM7 10h3v1H7zM8 11h1v1H8zM3 6h11v1H3z'/%3E%3C/svg%3E");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    border: 1.5px solid;
    /* -webkit-box-shadow: 2px 8px 0 0 #000;
    -moz-box-shadow: 2px 8px 0 0 #000; */
    /* box-shadow: 2px 2px 0 -1px #000; */
    font-size: 18px;
    height: auto;
    padding-left: 20px;
    position: relative;
    width: 10rem
}

select,ul[role] {
    font-family: "K2D", sans-serif;
}

ul[role] {
    cursor: pointer;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0
}

ul[role=menu-bar] {
    background: #fff;
    display: flex
}

ul[role=menu-bar]>[role=menu-item] {
    padding: 6px 10px;
    position: relative
}

ul[role=menu-bar]>[role=menu-item]:focus {
    background: #000;
    color: #fff;
    outline: none
}

ul[role=menu-bar]>[role=menu-item]:focus-within {
    background: #000;
    color: #fff;
    outline: none
}

ul[role=menu-bar]>[role=menu-item]:hover {
    background: #000;
    color: #fff;
    outline: none
}

ul[role=menu-bar]>[role=menu-item][aria-haspopup=false] * {
    background: inherit;
    color: inherit;
    text-decoration: none
}

ul[role=menu] {
    background: #fff;
    border: 1px solid;
    box-shadow: 2px 2px;
    color: initial;
    min-width: 200px;
    position: relative
}

ul[role=menu]:before {
    box-shadow: inset 1px 0 rgba(0,0,0,.15),inset -1px 0 #fff;
    content: "";
    left: 28px;
    pointer-events: none;
    position: absolute;
    width: 2px
}

[role=menu-item] ul[role=menu] {
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 99
}

ul[role=menu]>[role=menu-item]>a,ul[role=menu]>[role=menu-item]>button,ul[role=menu]>[role=menu-item][aria-haspopup=true] {
    all: unset;
    box-sizing: border-box;
    display: block;
    padding: 5px 20px;
    position: relative;
    width: 100%
}

ul[role=menu]>[role=menu-item]>a:focus,ul[role=menu]>[role=menu-item]>a:hover,ul[role=menu]>[role=menu-item]>button:focus,ul[role=menu]>[role=menu-item]>button:hover,ul[role=menu]>[role=menu-item][aria-haspopup=true]:focus,ul[role=menu]>[role=menu-item][aria-haspopup=true]:hover {
    background: #000;
    color: #fff
}

ul [role=menu-item] {
    position: relative
}

ul [role=menu-item]:focus-within>[role=menu],ul [role=menu-item]:focus>[role=menu] {
    display: block
}

ul [role=menu-item].divider:after {
    border-top: 1.5px dotted #000;
    content: "";
    display: block;
    padding: 0;
    pointer-events: none
}

.details-bar ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.details-bar ul li, ul li {
    padding-left: 0;
}

.post-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ddd;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    padding: 15px;
    background: #222;
    color: #ddd;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notification.show {
    opacity: 1;
}

.message-right {
    text-align: right;
    background: #555;
    color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.message-logo {
    position: relative;
}

.message-logo .new-message {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}



.fa-user {
    transition: 0.3s; /* Smooth transition */
 }

.fa-user:hover:before {
    content: "\f007"; /* Unicode for solid user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Solid icon weight */
    font-size: 20px;
}

.fa-user:before {
    content: "\f007";  
    font-family: "Font Awesome 5 Free";
    font-weight: 400; 
    font-size: 20px;
 }

.fa-light{
    color: white !important;
}


.fa-message {
    transition: color 0.3s; /* Smooth color transition */
}

.fa-new-message {
    color: #f00; /* Color for new messages */
}

.fa-message:before {
    content: "\f007"; /* Unicode for user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 400; /* Regular icon weight */
    font-size: 20px;
 }

.fa-message:hover:before {
    content: "\f27a"; /* Unicode for solid user icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Solid icon weight */
    font-size: 20px;
}


.fa-house-user{
    font-size: 20px;
    color:  rgb(2, 100, 200);
}
.fa-house-user:hover{
    font-size: 20px;
    color: rgb(98, 255, 0);
}

.fa-door-open{
    font-size: 20px;
    color:  rgb(2, 100, 200);
}

.fa-square-plus{
font-size: 20px;
color: rgb(2, 100, 200);
}


.register-text{
    color: rgb(2, 100, 200);
    text-decoration: none;
    transition: 0.3s;
}

.register-text:hover{
    color: #00a664;
}

.fa-arrow-right-from-bracket{
    font-size: 20px;
 }
.fa-arrow-right-from-bracket:hover{
    font-size: 20px;
    color: rgb(230, 46, 0);
}

.fa-toggle-on{
color: #1e90ff; 
}

.fa-toggle-off{
    color: white;
}
/* Need to update these on styles.css */

.posts-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 36vh;  
}

.post_image {
    width: 100%;  
    height: auto;  
    object-fit: cover; 
    display: block;  
}



.message-content{
    width: 100%;
    overflow: auto;

}
.message-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-right: 10px;
}
.message{
    border: 0.05em solid black;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    background-color: #676767;
}
.messages-container{
    border: 0.05em solid black;
    height: 50vh;
    overflow: scroll;
    padding: 10px;
    background-color: #676767;

}
.message-right {
    text-align: right;
    background-color: rgb(50, 60, 70); /* Optional: Different background for user messages */
    margin-left: 50%;
}

.message-left {
    text-align: left;
    background-color: rgb(50, 60, 70); /* Optional: Different background for received messages */
}

#message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#message-list li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#message-form {
    margin-top: 20px;
}

#message-input {
    width: calc(100% - 100px); /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#message-form button {
    width: 80px;
    padding: 8px;
    border: 0.03em solid;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;

    cursor: pointer;
}

#message-form button:hover {
    background-color: rgb(0, 51, 101);
    color: #fff;
}

.new-message {
    background-color: #d1e7dd; /* Light green background */
    border: 1px solid #b0d0a8; /* Optional border */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.thumbnail-container{
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100%;
}

.search-field {
    background-color: transparent;
    border: 0;
    border-bottom: white solid 1px;
    color: white; /* Ensures the text color is white */
    padding: 5px; /* Adds a bit of padding for better usability */
    width: 100%; /* Make it full width */
}

.search-field:focus {
    outline: none; /* Removes the default focus outline */
    border-bottom: white solid 2px; /* Thicker underline on focus for better visibility */
}


.user-details{
    display: flex;
    flex-direction: column; 
    padding: 5px; 
    margin-top: 30px;
    border-radius: 40px; 
    padding-right: 20px;
    max-width: 100%;
    border: rgb(96, 96, 96) solid 0.01em;
}
.user-details:hover{
    box-shadow: 2px 2px 5px rgb(95, 95, 95);

}
.user-details:active{
    box-shadow: inset 0px 2px 5px rgb(95, 95, 95);

}

.post-image-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 400px;
}

.post-image-gallery img {
    border-radius: 8px; /* Optional: Add rounded corners to images */
}

.post-image-gallery img:first-child {
    height: 800px;
}

.post-image-gallery img:not(:first-child) {
    width: 200px;
    height: 200px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #4e4e4e;
    margin:10%  auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #9d9d9d;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px; /* Maximum width */
    border-radius: 8px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between videos */
    flex-wrap: wrap; /* Allows videos to wrap to the next line if needed */
    height: 100vh;
    margin: 0;
  }
  video {
    width: 100%; /* Set the width of each video */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container */
  }

  .form-input{
    background-color: transparent;
    border: 0;
    border-bottom: rgb(122, 122, 122) solid 1px;
    color: white; /* Ensures the text color is white */
    padding: 5px; /* Adds a bit of padding for better usability */
    width: 100%; /* Make it full width */
  }

.form-light{
    border-bottom: black solid 1px;

}

.form-input:focus {
    outline: none; /* Removes the default focus outline */
    border-bottom: white solid 2px; /* Thicker underline on focus for better visibility */
}
.form-input:active{
    background-color: transparent;
    color: white; /* Ensures the text color is white */

}