<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OiOi Roommates Connect</title>

    <link id="theme-stylesheet" rel="stylesheet" href="/static/css/styles-darkmode.css"> <!-- Default stylesheet -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>  
 
    <div class="nav" id="nav">
        <aside class="window navi">
            
                <div class="terminal-prompt logo" style="color:red">
                    <a href="/" style="text-decoration: none;color: white;">
                    <i id="house-logo" class="fa-solid fa-house-user"></i>
                     oioi</a> 
                </div>
            <div class="auth" style="display: flex; flex-direction: row; gap: 20px;">

                <i id="theme-toggle" class="fa-solid fa-toggle-on" style="font-size: 20px; margin-right: 30px;"></i>


                
                {% if session['user_id'] %}
                    {% if fuser or cuser %}
                    <a href="/users/{{ session['user_id'] }}">            
                        <i id="user-logo" class="fa-regular fa-user" style="cursor: pointer;">                  
                        </i>
                    </a>
                    {% else %}
                    <a href="/login">login/</a> 
                    {% endif %}
                    <a id="message-logo" href="/messages">
                        <i class="fa-regular fa-message"></i>
                    </a>
                    <a id="logout-logo" href="/logout" class="logout-link">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a> 
                    
                {% else %}
                <div style="display: flex; flex-direction: row;gap: 20px;"> 
                    <a href="/login" class="register-text"><i class="fa-solid fa-door-open">        
                        <span style="font-family:Inconsolata, Menlo, ChiKareGo2, Geneva; font-size: 15px;">login</span>
                    </i></a> 
                    <a href="/register" class="register-text"><i class="fa-solid fa-square-plus">
                        <span style="font-family:Inconsolata, Menlo, ChiKareGo2, Geneva; font-size: 15px;">sign-up</span>
                        </i>
                    </a> 
                </div>

                {% endif %}
            </div>    
        </aside>
    </div>
    
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
            
     <div class="container" id="container">

            {% block sidea_content %}




            
            {% endblock %}
 
                <div class="window main userposts">
                    {% block main_content %}
                    <div class="card-box">
                        {% if posts %}
                            {% for post in posts %}
                                <div id="card" class="card" data-href="/postes/{{ post.id }}">
                                    {% if post.user_id in users_dict %}
                                        <div class="user-info"> 
                                            <img src="{{ post.user_rel.full_user.user_image }}" alt="User Image" class="circular-image" style="width: 50px; height: 50px;">
                                            <div style="display: flex; gap: 10px;">
                                                <h2 style="margin-top: 4px; font-size: 1.5rem; line-height: 1; padding: 0;">
                                                    <a href="/users/profile/{{ post.user_id }}" style="text-decoration: none;">
                                                        {{ users_dict[post.user_id].first_name }}
                                                    </a>
                                                </h2>
                                                <i class="fa-regular fa-circle-check" style="color: green; margin-top: 8px"></i>
                                                <strong style="margin-top: 6px">•</strong>
                                                <small style="margin-top: 8px"><strong>{{ users_dict[post.user_id].age }}</strong></small>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="image-gallery">
                                        {% if post.images %}
                                            <div class="gallery-container" data-images="{{ post.images | map(attribute='file_name') | join(',') }}">
                                                <img id="gallery-image" src="/static/uploads/{{ post.images[0].file_name }}" alt="Post Image" class="gallery-image">
                                                <button style="padding: 0px; border: 0px;"><i class="fa-solid fa-circle-chevron-left nav-button prev-button"></i></button>
                                                <button style="padding: 0px; border: 0px;"><i class="fa-solid fa-circle-chevron-right nav-button next-button"></i></button>
                                            </div>
                                        {% else %}
                                            <p>No images available for this post.</p>
                                        {% endif %}
                                    </div>
                                    <div class="card-details">
                                        <div>
                                            <h2 style="margin: 8px; display: inline-block; margin-right: 2px;">${{ post.price }}</h2>
                                            <h1 style="display: inline-block">/mo</h1>
                                        </div>
                                        <div>
                                            <h1 style="margin: 0px; margin-bottom: 5px;">{{ post.title }}</h1>
                                        </div>
                                        <div style="align-self: flex-start; justify-self: flex-end;">
                                            <small><strong>Borough:</strong> {{ post.borough }}</small><br>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No posts available.</p>
                        {% endif %}
                    </div>
                    {% endblock %}

                </div>
            
            {% block user_post%}  

            {% endblock %}

    </div>
   
    {% block login_signup %}
                
    {% endblock %}
   
 
<script src="/static/js/script.js"></script>

</body>
</html>