{% extends 'index.html' %}

{% block sidea_content %}
 

<div id="user-content" class="window sidea sidepost">
 
    <div class="profile-pic">
    {% if full_user_info.user_image %}
        <img src="{{ full_user_info.user_image }}" alt="User Image" class="circular-image" style="height: 6rem;width: 6rem;">
    {% endif %}
    </div>

    <div> 
        <div style="display: flex;width: 100%;">
                <div style="display: flex; justify-content: space-between;width: 100%;">
                    <h2 style="margin: 0;">Hi, I'm {{ full_user_info.first_name }}</h2>
                    <span style="margin-left: auto;margin-top: 10px;"><strong>{{ full_user_info.calculate_age() }}</strong></span>
                    <br>
                </div>  
        </div>
        <div>
            <div style="border: 0.5px rgba(182, 182, 182, 0.397) solid; margin:10px 0 10px 0;"></div>
        </div>
        <div>
            <h3>WORK</h3>
            <p>Northwestern Mutual-Financial Planning Associate</p>
        </div>
        <div>
            <h3>SCHOOL</h3>
            <p>Berkeley College-General Business</p>
        </div>
        <div>
            <h3>INTRODUCTION</h3>
            <p>{{ full_user_info.intro }}</p>
         </div>
    </div>  

</div>  
 {% endblock %}

