{% extends 'index.html' %}

{% block main_content %}
<div class="container">

 
    <form class="form" method="POST">
        {{ form.hidden_tag() }}
        {%  for field in form
            if field.widget.input_type !='hidden'
            %}
        <p>
            <div>
                {{ field.label }}
            </div>
            <div>
                {{field}}

            </div>
             {% for error in field.errors %}
            <br><small style="color: red;">{{ error }}</small>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn" type="submit" style="background-color: #17b01e;">submit</button>
    </form>
 
</div>

{% endblock %}
